@use "reset";
@include reset.reset-default-values();

:root{
  font-size: 16px;
}
* {
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f6f6f6b2;
}

.header{
  box-shadow: 1px -1px 6px black;
  background-color: #E7F9FF;
  padding: 1rem 2.5rem;
  justify-content: space-around;
  display: flex;

  .left-wrap{
    display: flex;
    column-gap: 2.5rem;
    .start-btn{
      background-color: #00FFB2;
      border-radius: 50%;
      width: 6rem;
      height: 6rem;
      font-size: 1.75rem;
    }

    .start-btn:hover{
      transition-duration: 500ms;
      background-color: black;
      color: white;
    }

    .main-setting{
      display: flex;
      margin-bottom: 1rem;
    }

    .label-wrap{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    .start-btn,
    .new-array,
    .more-setting,
    input[type="range"],
    .size-input:hover{
      cursor: pointer;
    }
    .size-input:focus{
      cursor: text;
    }
    .size-verbose:focus{
      background-color: white;
      color: black;
      border: 1px solid black;
      border-radius: 3px;
    }
  }

  .algo-wrap{
    display: flex;
    align-items: center;
    ul{
      display: flex;
      column-gap: 2rem;
      font-size: 1.25rem;
      li{
        cursor: pointer;
      }
    }
  }
}

.bar-container-1{
  margin: 2rem 0;
  // the plan is there will be a "pseudo code" at the left bar
  // so setting the bar-container padding to 20starem is the right choice
  padding: 0 2rem;
  display: flex;
  justify-content: center;

  // uncomment this if I want the bar stick at the bottom together
  // align-items: flex-end;
  & > div{
    margin: 1px;
    // border-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    // border-top-left-radius: ;
    // border-top-right-radius: ;
    background-color: #F65050;
    width: 25%;
  }
}

