/* copy this ...
@use "reset";
@include reset.reset-default-values();
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(246, 246, 246, 0.6980392157);
}

.container {
  position: relative;
}

.spin {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.header {
  box-shadow: 1px -1px 6px black;
  background-color: #E7F9FF;
  padding: 1rem 2.5rem;
  display: flex;
  justify-content: space-around;
}
.header .left-wrap {
  display: flex;
  column-gap: 2.5rem;
}
.header .left-wrap .start-btn {
  border: 0;
  background-color: #00FFB2;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  font-size: 1.75rem;
}
.header .left-wrap .start-btn:hover {
  transition-duration: 500ms;
  background-color: black;
  color: white;
}
.header .left-wrap .main-setting {
  display: flex;
  margin-bottom: 1rem;
}
.header .left-wrap .label-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.header .left-wrap .start-btn,
.header .left-wrap .new-array,
.header .left-wrap .more-setting,
.header .left-wrap input[type=range],
.header .left-wrap .size-input:hover {
  cursor: pointer;
}
.header .left-wrap .size-input {
  background-color: transparent;
}
.header .left-wrap .size-input:focus {
  background-color: white;
  cursor: text;
}
.header .left-wrap .more-setting {
  width: max-content;
}
.header .left-wrap .more-setting:hover {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-color: rgba(100, 100, 100, 0.3294117647);
  border-radius: 50%;
}
.header .algo-wrap {
  display: flex;
  align-items: center;
}
.header .algo-wrap .menu {
  position: relative;
  display: flex;
  column-gap: 2rem;
  font-size: 1.25rem;
}
.header .algo-wrap .menu li {
  cursor: pointer;
}
.header .algo-wrap .menu .menu-line {
  background-color: black;
  width: 51px;
  height: 2px;
  position: absolute;
  bottom: 0;
}

.setting-display {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  display: none;
}
.setting-display .setting-contents {
  position: absolute;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0px 0px 15px black;
}
.setting-display .setting-contents .exit-btn {
  border: 0;
  background-color: rgb(238, 238, 238);
  border-radius: 50%;
  padding: 1rem;
  font-size: 2rem;
  position: absolute;
  right: 0;
}
.setting-display .setting-contents .exit-btn:hover {
  cursor: pointer;
  background-color: rgba(100, 100, 100, 0.3294117647);
}
.setting-display .setting-contents .title {
  margin: 1rem 0;
  text-align: center;
  font-size: 2rem;
}
.setting-display .setting-contents > div {
  display: flex;
  margin: 1rem 3rem;
}
.setting-display .setting-contents input {
  margin-right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}
.setting-display .setting-contents input:hover {
  background-color: rgba(128, 128, 128, 0.795);
  cursor: pointer;
}
.setting-display .setting-contents p {
  font-weight: 600;
  font-size: 1.5rem;
}

.bar-container-1 {
  margin: 2rem 0;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
}
.bar-container-1 > div {
  margin: 1px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #F65050;
  width: 25%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=main.css.map */
