// import the file --> @use "reset"
// use it --> @include reset.reset-default-values();

/*
@use "reset";
@include reset.reset-default-values();
*/

@mixin reset-default-values{
  body,header,input,ul,button{
    margin: 0;
    padding: 0;
    border: 0;
  }
  button{
    cursor: pointer;
  }
  h1,h2,h3,h4,h5{
    margin-top: 0;
  }
  ul {
    list-style-type: none;
  }
}