.arr-style{
  margin-bottom: 2rem;
  // the plan is there will be a "pseudo code" at the left bar
  // so setting the bar-container padding to 20starem is the right choice
  padding: 0 2rem;
  display: flex;
  column-gap: 1px;
  justify-content: center;
  // position: relative;

  // uncomment this if I want the bar stick at the bottom together
  // align-items: flex-end;
  & > div{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #F65050;
    width: 25%;
    // position: absolute;

  }
  .pile{
    position: relative;
    & > div{
      box-shadow: 0px 2px 1px #1c1c1c;
      border-bottom: 1px solid black;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      background-color: #F65050;
      width: 80%;
      position: absolute;
    }
  }
}