.spin{
  animation-name: spin;
  animation-duration: 5000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.more-setting-display{
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  
  .more-setting-contents{
    position: absolute;
    z-index: 99;
    background-color: #fff;
    box-shadow: 0px 0px 15px black;
    $w: 1.5rem;
    $h: 1.5rem;
    .exit-btn{
      &:hover{
        cursor: pointer;
        background-color: #64646454;
      }
      border: 0;
      background-color: rgb(238, 238, 238);
      border-radius: 50%;
      padding: 1rem;
      font-size: 2rem;

      position: absolute;
      right: 0;
    }
    
    .title{
      margin: 1rem 0;
      text-align: center;
      font-size: 2rem;

    }

    & > div{
      display: flex;
      margin: 1rem 3rem;
    }

    & input{
      &:hover{
        background-color: rgba(128, 128, 128, 0.795);
        cursor: pointer;
      }
      margin-right: 1rem;
      width: $w;
      height: $h;
      border-radius: 50%;
    }

    & p{
      margin: 0;
      font-weight: 600;
      font-size: $w;
    }
  }
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}